:root {
    --color-white: #FFFFFF;
    --color-gray: #6E6893;
    --color-gray-2: #C6C2DE;
    --color-violet: #6D5BD0;
    --color-violet-2: #8B83BA;
    --color-violet-light: #F4F2FF;
    --color-black: #25213B;
}